/* 
    Document   : wpdeals
    Created on : Nov 29, 2011, 4:30:51 PM
    Author     : erricgunawan
    Description:
        Purpose of the stylesheet follows.
*/
 
#content .recent-deal-title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.recent-deal-thumbnail a {
	display: block;
	height: auto;
	width: 100%;
}
.hasCountdown {
	font-size: 10px;
	color: #999;
	margin: 1em 0 0;
	text-align: center;
	word-wrap: break-word;
}
.countdown_section {
	margin-right: .5em;
}
.countdown_amount {
	color: #ff4b33;
	margin-right:1%;
	text-shadow: 0 1px 0 #fff;
}
.deal-expired {
	text-align: center;
	padding: 0.7em;
	color: #9F0A28;
	border: 1px solid #D55C2B;
	margin: 0.7em 0;
	background: #F6E7D3;
	text-transform: uppercase;
	font: bold 1.3em sans-serif;
}
.deal-free {
	background: #50B25F;
	color: #fff;
	margin-top: .4em;
	padding: .7em 0;
	text-align: center;
	width: 100%;
}

.deal-thumbnail {
	margin: auto;
	display: block;
}
.deal-description {
	padding: 1em 0;
	display: inline-block;
	width: 100%;
}
.deals-view-type {
	display: block;
	text-align: right;
}

/* Deals Grid View */
.wp-deals-grid .daily-deals {
	display:inline;
	float: left;
	margin-right: 5%;
	width: 30%;
}
.wp-deals-grid .last-deals-item {
	margin-right:0;
}
.wp-deals-grid .first-deals-item {
	clear: left;
}

.wp-deals-grid .deal-description,
.wp-deals-grid .deal-discount-block {
	display:none;
}
.wp-deals-grid .recent-deal-thumbnail {
	margin: 0 0 1.5em;
	display: block;
}

/* Deals List View */
.wp-deals-list .daily-deals {
	float:left;
	width:100%;
}
.wp-deals-list .recent-deal-title {
	font-size:1.5em;
	text-align:left;
	clear: right;
}
.wp-deals-list .recent-deal-title,
.wp-deals-list .another-timer-block,
.wp-deals-list .deal-description,
.wp-deals-list .deal-free,
.wp-deals-list .deal-expired {
	float:right;
	width:50%;
}
.wp-deals-list .recent-deal-thumbnail {
	display: inline;
	float: left;
	margin: 0;
	width: 45%;
}
.wp-deals-list .hasCountdown {
	font-size: 14px;
	margin: 1em 0;
}
.wp-deals-list .deal-discount-block {
	float:right;
	width:47%;
}
.wp-deals-list .list-price-title {
	float: left;
	width: 33%;
	font-weight:bold;
}
.price-num.current {
	color: #c10;
}

/* Single Deal */
h1.deal-title{
	margin-bottom: 15px;
}
#deal-content-wrap {
	width:100%;
}
.buy-wrap {
	float: left;
	width: 45%;
}

.buy-wrap .hasCountdown {
	font: bold 13px arial, sans-serif;
	color: #111;
}
.price-block {
	background: #edf0c6;
	padding: 1em;
	border: 1px solid #e1c0c6;
}
.price-block a:link, .price-block a:visited,
.expired-button,
#bottom-price-block a:link, #bottom-price-block a:visited {
	background: url(../images/pricedeal.png);
	height: 65px;
	width: 250px;
	display: block;
	color: #fff;
	margin:auto;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	font: bold 25px/57px "Trebuchet MS", helvetica, arial, sans-serif;
	text-indent: -20px;
	text-align: center;
}
.price-block a:hover, #bottom-price-block a:hover {
	background: url(../images/pricedeal.png) 0 65px;
	color:#fff;
}
.price-block a:active, #bottom-price-block a:active {
	background: url(../images/pricedeal.png) 0 130px;
	color:#fff;
}
.price-block .free:link, #bottom-price-block .free:link, .price-block .free:visited, #bottom-price-block .free:visited { background: url(../images/pricedeal-green.png); }
.price-block .free:hover, #bottom-price-block .free:hover { background: url(../images/pricedeal-green.png) 0 65px; }
.price-block .free:active, #bottom-price-block .free:active { background: url(../images/pricedeal-green.png) 0 130px; }
.expired-button { background:url(../images/pricedeal-red.png); }
.deal-discount-block, .deal-wrapper .another-timer-block, #deal-share-block {
	background: #dddbf6;
	border: 1px solid #aaa;
	display:block;
	font-size:13px;
	margin: .5em 0;
	overflow: hidden;
	padding: 1em;
	text-align: center;
	text-shadow:1px 1px 0 #fff;
}
.list-price-title {
	font-weight:bold;
	float: left;
	width: 33%;
}
.price-num {
	font-size: 1.5em;
	font-family: arial, sans-serif;
	margin-top: 0.5em;
	display: block;
	color: #1c6ddb;
}
#deal-share-block {
	padding:3% 5%;
	display:inline-block;
	width:90%;
	margin-top:0;
}
.deal-sharer:first-child {
	float:left;
	width:20%;
}
.deal-sharer {
	font-weight:bold;
	float: right;
	width: 35%;
	padding:.5em 0;
}
.deal-image-wrap {
	clear: right;
	display: inline;
	float: left;
	margin: 0 0 0 30px;
	overflow: hidden;
}
.deal-image-wrap img {
	border:.5em solid #aaa;
}
.deal-image-wrap a {
	display: block;
}
.clr {
	clear:both;
}
#deal-details {
	float: left;
	width: 100%;
	margin-top: 5%;
}
.single-wp-deals .countdown_row {
	font-size:1.3em;
}
#deal-meta-footer {
	margin: 2em 0;
}

.deals-history, .deals-profile {
        clear: both;
}

/* Transaction History Table */

.deals_table {
	border:none !important;
	margin:0;
	text-align:left;
}
.deals_table th {
	border-bottom: 3px solid #ccc;
	color:#444 !important;
	font-size:12px !important;
	padding: 1em !important;
	text-align: left;
	text-transform: uppercase;
}
.deals_table th:nth-child(1), 
.deals_table th:nth-child(3) { width:25%; }
.deals_table th:nth-child(2) { width:50%; }
.deals_table td {
	border-bottom: 1px solid #ccc;
	padding: 1em !important;
	font: 12px sans-serif;
	vertical-align: middle;
}
.deals_table tr {
	background: #fff;
	border:none;
}
.deals_table td a, .deals-user input[type="submit"], #dialog-box #feedburner-form #feedburner-submit, #dialog-box a.button {
	color: #414141;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	padding: 0.136em .706em;
	display: inline-block;
	border: none;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.61803399em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: white;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#DDDEDF));
	background: -webkit-linear-gradient(white, #DDDEDF);
	background: -moz-linear-gradient(center top, white 0%, #DDDEDF 100%);
	background: -moz-gradient(center top, white 0%, #DDDEDF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#dddedf);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#dddedf)";
	font-weight: 700;
	vertical-align: middle;
	position: relative;
	overflow: visible;
	position: relative;
	border: 1px solid #999A9B;
	box-shadow: 0 0 2px 0 #bbbcbd;
	-webkit-box-shadow: 0 0 2px 0 #bbbcbd;
	-moz-box-shadow: 0 0 2px 0 #bbbcbd;
	-o-box-shadow: 0 0 2px 0 #bbbcbd;
	text-decoration:none;
}
.deals_table td a:hover, .deals-user input[type="submit"]:hover, #dialog-box #feedburner-form #feedburner-submit:hover, #dialog-box a.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEEEF));
	background: -webkit-linear-gradient(white, #EDEEEF);
	background: -moz-linear-gradient(center top, white 0%, #EDEEEF 100%);
	background: -moz-gradient(center top, white 0%, #EDEEEF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#edeeef);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#edeeef)";
	box-shadow: 0 2px 0 #aaabac;
	-webkit-box-shadow: 0 0 2px 0 #aaabac;
	-moz-box-shadow: 0 0 2px 0 #aaabac;
	-o-box-shadow: 0 0 2px 0 #aaabac;
	color: #2F3031;
}

/* User Profile */
.deals-user p {
	overflow: hidden;
	margin: 0 0 1em;
}
.deals-user label {
	float: left;
	width: 30%;
}
.deals-user input[type="text"], .deals-user input[type="password"], .deals-user input[type="email"] {
	font:inherit;
	width: 58%;
	float: right;
	margin: 0;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
	padding: .5% 1%;
}
.deals-user input[type="submit"] {
	margin-left:40%;
}
.deals-user input#user_email {
	padding-left:0;
	padding-right:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.deals-user .required {
        color: #CC0000;
}
#deals-loginform {
	overflow: hidden;
}
.deals-error {
        background: #FFE7A1;
        border: 1px solid #D55C2B;
}
.deals-message {
        background: #DBF6BE;
        border: 1px solid #008000;
}
.deals-error, .deals-message{
        width: 400px;
        padding: 20px 10px;
}
.deals-error p, .deals-message p.success {
        margin: 0;
}

/* Deals Widget */
#random-deals, #featured-deals, #free-deals {
	margin-bottom: 3em;
}
#random-deals h3, #featured-deals h3, #free-deals h3 {
	margin-bottom:1.5em;
}
#random-deals ul, #featured-deals ul, #free-deals ul {
	list-style:none;
	margin:0 !important;
}
#random-deals li, #featured-deals li, #free-deals li {
	font:bold 13px sans-serif;
	margin-bottom:1em;
	overflow:hidden;
}
#random-deals img, #featured-deals img, #free-deals img {
	width:100%;
	max-width:100%;
	height:auto;
}
#random-deals li .hasCountdown, #featured-deals li .hasCountdown, #free-deals li .hasCountdown {
    width: 100%;
    margin: 1em 0;
    float: left;
    text-align: left;
}

.widget .widget-deal-item {
  zoom: 1;
  margin: 0 0 10px;
  list-style: none;
}
.widget .widget-deal-item:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.widget .widget-deal-item:after, .widget .widget-deal-item:before {
  content: "";
  display: table;
}
.widget .image-wrap {
  display: inline;
  float: left;
  margin-right: 10px;
}
.widget .widget-deal-item div {
	font-size:12px;
	line-height:1.5;
	font-weight:normal;
	text-align:left;
}
.clear {
clear: both;
margin-bottom: 20px;
}

/*
single-deal custom modal box
http://www.queness.com/post/1696/create-a-beautiful-looking-custom-dialog-box-with-jquery-and-css3
*/

#js-overlay {
 
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;
    
    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 

    /* hide it by default */
    display:none;
}
 
 
#dialog-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background:#eee;
	border:5px solid #999;
    width:400px; 
    position:absolute; 
    z-index:5000; 
    display:none;
    padding:2em;
}

.dialog-box-clear {
    clear: both;
    display: block;
}

#dialog-box p.js-text {
    font: 14px/1.5 sans-serif;
    text-align: left;
    margin: 0 0 10px 0;    
}

#dialog-box #feedburner-form {
    width: 100%;
    margin: auto;
    text-align: center;
}

#dialog-box #feedburner-input {
    width: 398px;
	margin:30px 0;
}

#dialog-box #feedburner-button-link {

}


/*=============================================================================
 * Deals Item
 *=============================================================================*/
/*#deal-content {
  color: #ff0000;
  font-family: 'Josefin Slab', arial, serif;
  font-size: 30px;
  min-width: 300px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}*/

#deal-content .nodeal {
  display: inline;
  float: left;
  margin-right: 10px;
  position: relative;
  top: 17px;
}

.form-subscriber {
	position:relative;
	overflow:hidden;
}
.form-subscriber .input input[type="email"] {
	width: 203px;
	padding: 5px;
	border-radius: 20px;
	border: none;
	box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE5E5E5');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
	background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
	background-image: -moz-linear-gradient(#ffffff, #e5e5e5);
	background-image: -o-linear-gradient(#ffffff, #e5e5e5);
	background-image: -ms-linear-gradient(#ffffff, #e5e5e5);
	background-image: linear-gradient(#ffffff, #e5e5e5);	
	height:20px;
	font:12px sans-serif;
}
:focus {
	outline:none;
}
.form-subscriber .submit input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	border-radius: 0 20px 20px 0;
	background: #AA122B;
	color: white;
	height: 30px;
	padding: 0 10px;
	font-weight: bold;
	box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 1px white, inset 2px 2px 3px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	font-size: 12px;
}
.form-subscriber .submit input[type="submit"]:hover {

}
.form-subscriber .submit input[type="submit"]:active {
}

.wp-deals-list .deal-expired, .wp-deals-grid .deal-expired {    
	text-align: center;
	padding: 0.7em;
	color: #9F0A28;
	border: 1px solid #D55C2B;
	margin: 0.7em 0;
	background: #F6E7D3;
	text-transform: uppercase;
	font: bold 0.7em sans-serif;
}

.wp-deals-list .deal-free, .wp-deals-grid .deal-free {    
	text-align: center;
	color: #fff;
	background: #50B25F;
	text-transform: uppercase;
	font: bold 0.7em sans-serif;
}
.wp-deals-list {
	margin-top:2em;
	zoom: 1;
}
.wp-deals-list:before {
	content: "";
	display: table; }
.wp-deals-list:after {
	content: "";
	display: table;
	clear: both;
}
.wp-deals-grid {
	margin-top:2em;
	zoom: 1;
}
.wp-deals-grid:before {
	content: "";
	display: table; }
.wp-deals-grid:after {
	content: "";
	display: table;
	clear: both;
}



/*-----------------------------------------------------------------------------------*/
/*	Modal popup
/*-----------------------------------------------------------------------------------*/


#subscribe_deals {
    overflow: auto;
	width: 500px;
	height: auto;
	background-color: #FDFDFD;
}
/*
#subscribe_deals {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
	z-index: -1;
	background: url(../images/overlay_bg.png) repeat;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}*/

#subscribe_deals #modal-overlay, #subscribe_deals .modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#subscribe_deals #modal-container, #subscribe_deals .modal-container {
        height: 320px;
        width: 400px;
	background: url(../images/overlay_inner_bg.png) repeat;
	position: fixed;
	padding: 10px;
	z-index: 1000;
	font-family:helvetica, arial, sans-serif;
}

#subscribe_deals #modal-bg, #subscribe_deals .modal-bg {
	background: #fdfdfd;
	height: 100%; 
	position: relative;
}

#subscribe_deals .modal-title {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 20px 0;
	background: #444;
	margin-bottom: 20px;
}
#subscribe_deals .modal-tagline {
	font-size: 14px;
	color: #5e6066;
	text-align: center;
	padding: 5px 0 0 0;
}

#subscribe_deals #subs-container, #subscribe_deals .subs-container {
	padding: 10px 0 0;
	position: relative;
	overflow:hidden;
}

#subscribe_deals .modal-download {
        text-align: center;
}

#subscribe_deals .modal-icon {
	width: 72px;
	height: 54px;
	padding: 6px 0 0 0;
	margin: 0 auto;
	text-indent: -9999px;
}

#subscribe_deals .modal-icon span.email {
	background: url(../images/sprite.png) no-repeat center top;
	display: block;
	height: 54px;
	width: 72px;
 }
#subscribe_deals .modal-icon span:hover.email { background: url(../images/sprite.png) no-repeat center bottom; }

#subscribe_deals .modal-download h4,
#subscribe_deals .modal-download h4 a {
	font-size: 14px;
	line-height: 14px;
	color: #2c2d31;
	font-weight: bold;
}

#subscribe_deals .modal-download h4 { margin: 20px 0 10px 0; }

#subscribe_deals .modal-download h5 {
	font-size: 11px;
	color: #5e6066;
	line-height: 14px;
	margin: 0;
}

#subscribe_deals a.sub {
	background: url(../images/sprite.png) no-repeat -362px 0;
	height: 32px;
	width: 92px;
	display: block;
	margin: 0 auto;
	color: #996633;
	line-height: 29px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#subscribe_deals a:hover.sub {
	background: url(../images/sprite.png) no-repeat -362px -33px;
	color: #996633;
}

#subscribe_deals a.destroy {
	display: block;
	padding: 17px 0;
	text-align: center;
	font-size: 11px;
	line-height: 11px;
	width: 520px;
	margin: 0 auto;
	font-weight: normal;
	color: #A4A5AA;
	background: #f5f5f5;
}

#subscribe_deals .modal-download h4 a:hover,
#subscribe_deals a:hover.destroy {
	color: #f26535;
}

#subscribe_deals .modal-download .form-subscriber {
        left: 0;
        top: 23px;
}

#subscribe_deals #modal-close, #subscribe_deals .modal-close {
	float: right;
	position: relative;
}

#subscribe_deals #modal-close a, #subscribe_deals .modal-close a {
	position: absolute;
	width: 19px;
	text-indent: -9999px;
	height: 18px;
	background: url(../images/sprite.png) no-repeat -455px 0;
	margin: 10px 0 0 -29px;
	top: 12px;
}

#subscribe_deals #modal-close a:hover, #subscribe_deals .modal-close a:hover { background: url(../images/sprite.png) no-repeat -455px -19px; }

#subscribe_deals #modal-or, #subscribe_deals .modal-or {
	position: absolute;
	width: 20px;
	height: 25px;
	line-height: 25px;
	background: #fdfdfd;
	margin: 75px 0 0 287px;
	font-weight: bold;
	font-size: 12px;
}


/* No Deals */
img.nodeal {
	float:left;
	margin-right:20px;
}
p.nodeal_notif {
	font: 400 24px/1.5 cambria, georgia, serif;
	margin: 10px 0 15px 110px;
}
#nodeal {
	margin: 40px 0 40px 110px;
	height: 40px;
	width: 400px;
}
#nodeal.form-subscriber .input input[type="email"] {
	font: 16px sans-serif;
	padding: 5px 5px 5px 20px;
	height: 30px;
	width: 360px;
}
#nodeal.form-subscriber .submit input[type="submit"] {
	font-size:16px;
	height: 40px;
        color: #fff;
}
.nodeal_share {
	margin: 50px 0 30px 110px;
}
.nodeal_share p {
	float:left;
	margin-right:20px;
}


/* Loading on redirect*/

#payment-process {
	font-family:sans-serif;
	text-align:center;
	margin:2em;
}
#payment-process h2 {
	font-size:1.5em;
	margin:5em 0 2em;
}
.processing {
	background:transparent url(../images/loading.gif) no-repeat top center;
	text-align:center;
	padding-top:75px;
}
.processing-error {
	background:transparent url(../images/nodeal.png) no-repeat top center;
	text-align:center;
	padding-top:100px;
}