/*DEALS STATS*/
.wpdeals-stats-border{
	border:1px solid #ccc;
}
.wpdeals-stats-clear{
	clear:both;
	display:block;
	margin:0;
	padding:0;
}
.wpdeals-stats-go-left{
	float:left;
}
.wpdeals-stats-go-right{
	float:right
}

#wpdeals-stats-wrapper {
	width: 100%;
        margin-top: 10px;
}

#wpdeals-stats-left {
	width: 30%;	
}

#wpdeals-stats-right {
	width: 65%;
	margin-left: 15px;        
}
#wpdeals-stats-graph{
        background-color: #fff;
}
#js-invoice-close {
	display: block;
	height: 10px;
}
#js-close, #js-print {
	display: block;
	float:left;
	height: 30px;
	width: 30px;
	text-indent: -9999px;
	background: transparent url(../images/fancybox/fancy_close.png);
	margin-top: -20px;
	margin-left: -20px;
}
#js-print {
	background: transparent url(../images/print.png);
	margin-left: 0;
}

/* options */
#subtab-options {
        margin: 10px 0 30px;
        border-bottom: 1px dotted #CCC;
        line-height: 20px;
}
#subtab-options a {
        text-decoration: none;
}
#subtab-options a.active {
        font-weight: bold;
        color: #333;
}

/* deal post */
.form-field label {
        float: left;
        width: 125px;
        margin-top: 4px;
}
.form-field .short {
        width: 25%;
        margin: 0;
}
.form-field input[type="button"] {
width: auto;
}